#nav {
  width: 12%;
  float: left;
  display: block;
}

#featured {
  background-color: #e1f4e8;
  margin-right: 100px;
}

#news {
  background-color: #e8f8fc;
}

#featured p {
  background-color: #e1f4e8;
}

#upper {
  height: 120px;
  margin-top: 40px;
  margin-left: -20%;
}

#feature-panel {
  background-color: #bcffd2;
  font-size: 18px;

}

#mainrow {
  margin-left: -20%
}
