#nav {
  width: 12%;
  float: left;
  display: block;
  background-color: #e8edeb;
  height: 1100px;
}

#featured {
  background-color: #e1f4e8;
  margin-right: 100px;
}

#news {
  background-color: #e8f8fc;
}

#featured p {
  background-color: #e1f4e8;
}

#upper {
  height: 120px;
  margin-top: 40px;
  margin-left: -20%;
}

#feature-panel {
  background-color: #bcffd2;
  font-size: 18px;
}

#know-panel {
  background-color: #bcffd2;
  font-size: 18px;
}

#news-panel {
  background-color: #a6d0e0;
  font-size: 18px;
}

#day-panel {
  background-color: #a6d0e0;
  font-size: 18px;
}

#mainrow {
  margin-left: -20%
}

body {
  background-color: #e8edeb;
}
